* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #2E4D86;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 }
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
	padding: 20px;
	margin: 0;
	border-color: #8DBE50;
	border-width: 2px;
	color: #8DBE50;;
}
.btn:hover {
	border-color: #8DBE50;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: #cc4733;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
.divider {
	height: 15px;
}
.divider.red {
	background-color: #cc4733;
}
.divider.blue {
	background-color: #2E4D86;
	margin-right: 20px;
}
.banner.main {
	height: 150px;
	background: url("http://www.rio2016.com/sites/all/themes/rio2016_agosto_14/img/logo-rio2016-en.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: auto 80%;
}
.banner.menu {
	height: 150px;
	background-color: #E1E17F;
}
.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}
.banner h1 {
	margin: 45px 0;
}
.category-list {
 	background-color: #F0F0F0;
 	padding: 20px;
 	margin-top: 10px;
 	margin-left: auto;
 	margin-right: auto;
    text-align: center;
    font-size: 2em;
    color: #cc4733;
    border: 5px solid #f1d246;
}
.category-list:hover {
 	background-color: #8DBE50;
 	padding: 20px;
}



.item {
	background: #F0F0F0;
	padding: 10px;
	margin: 20px 20px 20px 0px;
/* 
	border: 2px solid red;
 */
}

.item img {
    margin: 0px;
/* 
    border: 2px solid green;
 */
}

.item-name {
	font-size: 2em;
/* 
	border: 2px solid blue;
 */
}

.category-name a{
    font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: center;
	float: left;
}
.creator img {
	width: 70px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}

.item-detail {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
	position: relative;
/* 
	border: 2px solid blue;
 */
	overflow: hidden;
}

.player {
	font-size: 4em;
/* 
	border: 2px solid red;
 */
/* 
	position: relative;
 */
	z-index: 3;
}

/* 
.player figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}
 */

.player-image {
    position: absolute;
    top: 20px;
    right: 20px;
/* 
    border: 2px solid green;
 */
    z-index: 1;
}

.player-image img {
	width: 200px;
	border-radius: 50%;
/* 
	border: 2px solid blue;
 */
	
}

.player-description {
    width: 65%;
/* 
    border: 2px solid black;
 */
}

.player-age-label {

    transform: rotate(-90deg);
    position: relative;
    float: left;
/* 
    border: 2px solid purple;
 */
    font-size: 2em;
    padding-top: 30px;
}

.player-age {
    width: 30%;
/* 
    border: 2px solid blue;
 */
    display: inline-block;
    margin-left: 5px;
    color: #969b9d;
    font: 3em 'roboto_condensedregular';
    letter-spacing: -1px;
    text-transform: uppercase;
    position: relative;
    padding: 0px 5px 0px 10px;
/* 
    top: 0px;
    width: 16px
 */
}

.player-flag {
    position: relative;
/* 
    border: 2px dotted brown;
 */
    float: left;
    width: 20%; /* CHORE - FIX */
}

.flag {
    position: relative;
/* 
    border: 2px dotted brown;
 */
    float: left;
    size: 50px;
}


.clear {
    clear: both;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}