<div class="row top-menu">
	<div class="col-sm-6">
		<a href="{{url_for('showCategories')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
		</a>
	</div>
	<div class="col-sm-6 text-right">
<!-- 
NOTE: ALTHOUGH OUR SESSION NAME IS LOGIN_SESSION, FLASK/JINJA2
TEMPLATES ACCESS THE SESSION AS SESSION REGARDLESS OF WHAT
NAME IT WAS IMPORTED TO THE PYTHON CODE AS
 -->
      {% if 'username' not in session: %}
      <a href="{{url_for('showLogin')}}">Login</a>
      {% else: %}
      <a href="{{url_for('disconnect')}}">Logout</a>
	  {% endif %}			  
	</div>
</div>


<div class="row divider red"></div>
<div class="row banner main">
    <div class="col-sm-11 col-md-offset-1 padding-none">
        {% if page_title: %}
            <h1>{{ page_title }}
        {% else %}
            <h1>{{ category.name }}
        {% endif %}
        {% if creator: %}
            <figure class="creator">
                <img src="{{ creator.picture }}">
                <figcaption>{{ creator.name }}</figcaption>
            </figure>
        {% endif %}
        </h1>
    </div>
</div>
<div class="row divider red"></div>
{% include "flash.html" %}