{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method="POST">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="80" class="form-control" name="name" placeholder="Name of the player">
					<label for="country_id">Country:</label>
					<select class="form-control" name="country_id">
					    {% for id, country in countries.iteritems(): %}
					        <option value = {{id}}> {{country[0]}}</option>
					    {% endfor %}
					</select>
					<label for="description">Birthdate:</label>
					<input type ="date" class="form-control" name="birthdate" placeholder = "Birthdate MM-DD-YYYY">
					<label for="photo">Photo Link:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="photo" placeholder = "Photo link"></textarea>
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Brief player information"></textarea>

				<label for="sex">Sex:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="sex" id="sex1" value="Male" >Male
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="sex" id="sex2" value="Female" >Female
					  </label>
					</div>
		
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					</span>Create</button>
					<a href = '{{url_for('showItem', category_id = category_id)}}'>				
				      <button class="btn btn-default delete" type="button">
				        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				        Cancel
				      </button>
			        </a>
			        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">					
				</div>
			</form>
		</div>
	</div>
{% endblock %}

