<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class = 'pane'>
    <div class = 'header'>
        <h1> New item Item Form - Task 1 Complete! </h1>
    </div>
<!-- 
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h3><font color='green'>{{ message }}</font></h3>
        {% endfor %}

    {% endif %}
{% endwith %}
 -->
<!-- old code when I passed added which was a blank string or name of added item
{% if added %}
<h2> Added new item item {{ added }} </h2>
<a href={{ url_for('items', category_id = category_id) }}>Go Back to item</a>
<h2> Or add another below: </h2>
{% endif %}
 -->

<form action="{{url_for('newitem', category_id=category_id )}}" method = 'POST'>

    <p> Add a new item item: </p>

    <label for='name'>Name: </label>
    <input type='text' size='30' name='name'>
    <br>
    <label for='price'>Price: </label>
    <input type='text' size='10' name='price'>
    <br>
    <label for='description'>Description: </label>
    <input type='text' size='50' name='description'>
    <br>
    <input type='submit' value='Create'>

</form>

<a href={{ url_for('items', category_id = category_id) }}>Cancel</a>
</div>
</body>
</html>