{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	{% set count = 0 %}
	{% for category in categories %}	
		    {% if count % 2 == 0 %}
			<div class="row">
				<div class="col-md-1"></div>
			{% endif %}
			{% set count = count + 1 %}
					<a href = "{{url_for('showItem', category_id = category.id)}}">
					<div class="col-md-4 category-list">						
						<figure>
				            <img src="{{ category.icon }}">			            
			            <figcaption>{{category.name}}</figcaption>
			            </figure>		            
					</div>
					</a>
			{% if count % 2 == 1 %}
				<div class="col-md-2"></div>
			{% else %}
			    <div class="col-md-1"></div>
			</div>
			{% endif %}
		
	{% endfor %}
{% endblock %}
